<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/profile/app.css">
    
    <link rel="stylesheet" href="/profile/document.css">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Recursive&display=swap" rel="stylesheet">
    <title>Open a message</title>
</head>

<body>
    <nav>
        <div id="nav_username">
            <h2><a href="/">Sending Securely</a></h2>
        </div>
        <div id="nav_icons"><a href="/">New Message</a></div>
    </nav>
    <div class="container">
        <div class="retriever_form" >
            <h2>Retrieve your Document</h2>
            <form action="/viewer" method="POST" id="form">
                <label for="id">Message ID</label><input type="text" name="id" id="id" placeholder="ID of message" required>
                <label for="password">Password</label><input type="password" placeholder="document password" name="password" id="password" required>
                <button type="submit" id="retriever">Retrieve Message</button>
            </form>
            <% if(err){ %>
                <p><%= err %> </p>
            <% } %>  
        </div>
        <% if(sender.length > 0){ %>
            <div class="email">
                <div class="from">
                    <h2>From:</h2>
                    <p class="dbinfo">
                        <%= sender %>
                    </p>
                </div>
                <div class="message">
                    <h2>Message:</h2>
                    <p class="dbinfo">
                        <%= message %>
                    </p>
                </div>
                <div class="images">
                    <% for (let img of images){ %>
                        <img src="<%= img.url %>" alt="">
                    <% } %>  
                </div>
            </div>
    </div>
    <% } %>
</div>
    <footer>
        <p>This is made by Walker Laury Please dont sue me</p>
    </footer>

</body>

</html>