<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/profile/app.css">
    <link rel="stylesheet" href="style.css">
    <title>Send A New Message</title>
</head>
<body>
    <nav>
        <div id="nav_username">
            <h2>Sending Securely</h2>
        </div>
        <div id="nav_icons">New Message</div>
    </nav>
    <div class="container">
        <div class="content">
            <form action="/" method="POST">
                <label for="sender">From: </label><input type="text" name="sender" id="sender" placeholder="Mike Jones">
                <label for="recipient">To: </label><input type="email" name="recipient" id="recipient" placeholder="myfriend@anothercompany.com">
                <label for="password">Password:</label><input type="password" name="password" id="password">
                <label for="message">Message </label><textarea name="message" id="message" cols="30" rows="10"></textarea>
                <button type="submit">Send Secure Mail</button>
            </form>
        </div>
    </div>
    <footer>
        <p>This is made by Walker Laury Please dont sue me</p>
    </footer>
</body>
</html>