a:link{
    text-decoration: none;
    color:#B9314F;
  }

a:visited{
    text-decoration: none;
    color:#B9314F;
}

body{
    margin: 0;
    font-family: 'Recursive', sans-serif;    
    color:#B9314F;
}

.dbinfo{
    color: #2E86AB;
}

nav{
    display: flex;
    padding:.5em;    
    margin:0;
    background-color: #2E86AB;
    justify-content: space-between;
    
}

#nav_username{
    display: flex;
    
    align-items: center;
    justify-content: center;
    text-align: center;
}

#nav_icons{
    display: flex;
    align-items: center;

}

.container{
    display: flex;
    background-color: white;
    justify-content: center;
    height: 85vh;
}

.content{
    display: flex;
    /* background-color:#9E90A2; */
    background-color: white;
    width: 90%;
}

.card{
    margin: 25px;
    border: 1px solid red;
}

.emails{
    display: flex;
    flex-direction: column;
    width: 75%;
   
}

.meta{
    display: flex;
}

.card-recipient{
    margin-left: 5%;
}

footer{
    flex-shrink: 0;
    background-color: #2E86AB;
    margin: 20px 0 0 0;
    width: 100%;
    padding: .5em;
    bottom: 0;
}